<configuration>
  <connectionStrings>
    <add name="PlaneRental"
         connectionString="Data Source=DESKTOP-H8DGSLF\SQLEXPRESS;Initial Catalog=PlaneRental;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <gcServer enabled="true" />
  </runtime>
</configuration>